* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #0f172a;
    color: #e2e8f0;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    background: rgba(15,23,42,0.8);
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 120px 20px;
}

.hero span {
    color: #38bdf8;
}

.btn {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    background: #38bdf8;
    color: black;
    border-radius: 20px;
    text-decoration: none;
}

section {
    padding: 80px 20px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    background: #1e293b;
    padding: 20px;
    width: 200px;
    border-radius: 12px;
}

.skills span {
    margin: 8px;
    padding: 8px 15px;
    background: #1e293b;
    border-radius: 20px;
}

.fade {
    opacity: 0;
    transform: translateY(30px);
    transition: 0.6s;
}

.fade.show {
    opacity: 1;
    transform: translateY(0);
}

footer {
    text-align: center;
    padding: 20px;
}
